extends layout

block content 
    h1= '添加面包'
    form(method='post', action='/bread/add')
        div.form-row
            label
                span 在哪家买的
                select(name='bakeryId')
                    option(value=0, ) #{bakery.bakeryName}
                    each bakery in bakeryList
                        option(value="#{bakery.bakeryId}") #{bakery.bakeryName}
        div.form-row
            label
                span 面包
                input(type='text',name='breadName',value="#{list[0].breadName}")
        div.form-row
            label
                span 星星
                if list[0].rating == null
                    input(type='text',name='rating',value='')
                else
                    input(type='text',name='rating',value="#{list[0].rating}")
        div.form-row
            label
                span 说点啥
                if list[0].comment == null
                    input(type='text',name='comment',placeholder='请天牛侠多多指教~',value='')
                else
                    input(type='text',name='comment',placeholder='请天牛侠多多指教~',value="#{list[0].comment}")
        div.form-row
            label
                span 又买一次
                if list[0].buyAgain == null
                    input(type='text',name='buyAgain',value='')
                else
                    input(type='text',name='buyAgain',value="#{list[0].buyAgain}")
                    
        div.form-row
            label
                span 图片
                if list[0].image == null
                    input(type='text',name='image',placeholder='传个照片~',value='')
                else
                    input(type='text',name='image',placeholder='传个照片~',value="#{list[0].image}")
        div.form-row
            input(type='submit')

block append scripts
    script
