extends layout    
    
block content 
    h1 #{title}
    form(method='post')
        div.form-row
            label
                span 面包
                input(type='text',name='breadName',value="#{list[0].breadName}")
        div.form-row
            label
                span 面包店
                select(id="mySelect",name='bakeryId')
                    each bakery in bakeryList
                        option(value="#{bakery.bakeryId}",selected=bakery.bakeryId == list[0].bakeryId) #{bakery.bakeryName}
                    option(value="/bakery/add") 添加新的面包店                    
        div.form-row
            label
                span 星星
                select(name='rating')
                    - for (var i=0; i<8; i++){
                        option(value=i,selected=i == list[0].rating) #{i}
                    - }                  
        div.form-row
            label
                span 说点啥
                if list[0].comment == null
                    input(type='text',name='comment',placeholder='请天牛侠多多指教~',value='')
                else
                    input(type='text',name='comment',placeholder='请天牛侠多多指教~',value="#{list[0].comment}")
        div.form-row
            label
                span 又买一次
                if list[0].buyAgain == null
                    input(type='text',name='buyAgain',value='')
                else
                    input(type='text',name='buyAgain',value="#{list[0].buyAgain}")                  
        div.form-row
            label
                span 图片
                if list[0].image == null
                    input(type='text',name='image',placeholder='传个照片~',value='')
                else
                    input(type='text',name='image',placeholder='传个照片~',value="#{list[0].image}")
        div.form-row
            button(type="submit",formaction='/bread/update/#{list[0].breadId}',value="update") 更新
            button(type="submit",formaction='/bread/delete/#{list[0].breadId}',value="delete") 删除
